@model IEnumerable<Restoran.Models.Gost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImePrezime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImePrezime)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljno", "Details", new { id=item.Id }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
